@{
    ViewData["Title"] = "Index";
}
<head>
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/css/style.css" />
</head>
<div>
    <a href='@Url.Action("IniciarSesion")'>Iniciar sesión</a>
    <a href='@Url.Action("Registrarse")'>Registrarse si no tenés cuenta</a>
</div>

