@{
    ViewData["Title"] = "Usuario";
}

<p>Usuario:@ViewBag.usuario</p>
<a href='@Url.Action("NuevaTarea")'>AGREGAR TAREA</a>
@foreach (Tarea tarea in ViewBag.listaTareas) {
    <p>@listaTareas[i].Titulo</p>
}

